<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD RIFKY</title>
    <!-- CSS SCRIPT OFLINE -->
    <link rel="stylesheet" href="../static/bootstrap.css">

</head>
    <!-- PLOTLY SCRIPT ONLINIE -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<body>
    <div class='container'>
        <!-- Judul DASHBOARD -->
        <a class='text-decoration-none text-secondary' href="{{url_for('home')}}">
            <h1 class="text-center text-capitalize display-4 my-5">
                TIPS Dashboard
            </h1>
        </a>
        <!-- NAVIGATION BAR -->
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark lead" href="{{url_for('cat_fn', nav=True)}}">Histogram & Box</a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark lead" href="{{url_for('scatt_fn')}}">Scatter</a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark lead" href="{{url_for('pie_fn')}}">Pie</a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-dark lead" href="{{url_for('db_fn')}}">Input New Data</a>
            </li>
        </ul>
        {% block content %}
        <!-- nanti ini bisa di isi pakai berbagai macam data -->
        {% endblock %}
    </div>

    <!-- JS SCRIPT ONLINE -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>
</html>